:root{
    --color-primary: #190A02;
    --color-secondary: #C31246;
    --color-tertiary: #EFEDF2;
    --color-accent: #E99D2B;
    --color-grey: #857C78;
    --color-grey-light: #d9d9d9;
}

body{
    color: #190A02;
}
nav, .footer-content{
    background-color: var(--color-primary);
}
nav.breadcrumbs, nav.breadcrumbs-mobile{
    background-color: transparent;
}


#cart-item-number{
    background-color: var(--color-secondary);
}

li > a{
    text-decoration: none;
    color: var(--color-tertiary);
}

footer{
    color: var(--color-tertiary);
}

/* product listing page */

.announcement{
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
}

nav.breadcrumbs, nav.breadcrumbs > a, .breadcrumbs-mobile > a{
color: var(--color-grey);
text-decoration: none;
}


nav.breadcrumbs > span, .breadcrumbs-mobile > span {
    color: var(--color-primary);
}

.back-soon-overlay{
    color: white;
    background-color: rgba(233, 157, 43, 0.9);
}   

/*checkout page*/

.checkout-right{
    border: 2px solid var(--color-secondary);
}
