:root{
    --color-primary: #190A02;
    --color-secondary: #C31246;
    --color-tertiary: #EFEDF2;
    --color-accent: #E99D2B;
    --color-grey: #857C78;
    --color-grey-light: #d9d9d9;
}

body{
    color: #190A02;
}
nav, .footer-content{
    background-color: var(--color-primary);
}
nav.breadcrumbs{
    background-color: transparent;
}


li > a{
    text-decoration: none;
    color: var(--color-tertiary);
}

footer{
    color: var(--color-tertiary);
}

/* product listing page */

.announcement{
    background-color: var(--color-secondary);
}

nav.breadcrumbs, nav.breadcrumbs > a{
color: var(--color-grey);
}

nav.breadcrumbs > span {
    color: var(--color-primary);
}


