/*use -- modifier for each type of button */


.menu-item, .menu-item :hover, .menu-item :active{
    color: var(--color-tertiary); 
    font-family: var(--font-secondary);
    font-size: var(--font-size-reg);    
}

.menu-item :hover, .menu-item :active{
    color: var(--color-secondary); 
}

.btn{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s;
}

.btn-primary{
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    border: 0;
}

