/*use -- modifier for each type of button */


.menu-item, .menu-item :hover, .menu-item :active{
    color: var(--color-tertiary); 
    font-family: var(--font-secondary);
    font-size: var(--font-size-reg);    
}

.menu-item :hover, .menu-item :active{
    color: var(--color-secondary); 
}

.btn{                       /*reset the button style*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.1s;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn-primary{               /*pink background and white-pink content*/
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    border: 0;
}

.btn-primary:hover{
    transform: translateY(2px);
}    

.btn-primary:active{
    transform: translateY(2px);
    filter: saturate(50%);
}


.btn-primary-inverse{
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    border: 0;
}
button:disabled,
button[disabled]{
    border: none;
  background-color: var(--color-grey-light);
  color: var(--color-grey);
}
/*change svg to pink*/


.btn-full{
    width: 100%;
}
.add-to-cart-btn{
 width: 107px;
 height: 40px;
}

.sort-by{
    width: 146px;
    height: 48px;
    border:1px solid var(--color-primary);
    padding-top: 10px;
}

div.sort-by > select{
    font-family: var(font-tertiary), sans-serif;
    font-size: var(--font-size-reg);
    border: none;
    width: 100%;
    appearance: none;
    text-align: center;
}

.filter-toggle{
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--font-size-reg);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: var(--space-unit);
    width: 90%;
}/*individual item page*/
.item-add-to-cart-btn{
    align-items: flex-end;
    text-wrap: none;
    font-family: var(--font-tertiary);
    font-size: var(--font-size-xs);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
}

.add-cart-icon{
    width: 20px;
}
