
:root{
   --space-unit: 1em;
   --space-unit-2: 2em;
   --space-unit-half: 0.5em;
   --space-unit-4: 4em;


}


.flexrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexrow-nospace{
    display: flex;
    flex-direction: row;
    align-items: center;  
}
.flexcolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}


/*navigation*/
nav {          
    height:77px;
    padding-left: var(--space-unit-2);
    padding-right: var(--space-unit-2);
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}



nav > ul{    
    width: 100%;
    max-width: 30vw;
    justify-content: space-between;
    gap: 10px;
} 

nav > a > img{        
   width: auto; 
   height: auto;
   max-width: 67.78px;
   max-height: 59.94px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

nav > div{   
    height: 76px;
    width: 194px;
  }

nav > div > img{  
    height: 24px;
}
 
.nav-cart >img{
    height: 24px;
    margin-right: 5px;
}

.nav-cart{
    display: flex;
    align-items: center;
}

.nav-cart>span{                 /*the number in the cart*/
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;
}

/* putting logo on top of image and dimming image */

.header-container{
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.header-image {
    position: relative;
    top: 0;
    right: 0;
    filter: brightness(50%);
    width: 100%;
    transition: background-image 2s ease-in-out;
  }
  
.header-logo {
    position: absolute;
    max-width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pattern{
    max-width: 30vw;
    min-width: 250px;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

/*about section for home page*/
section.about{
    width: 100%;
    max-width: 800px; /* Max width for alignment */
}

main.home{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 6vh;
}

section.about > p.heading{
    text-align: center;
    margin-bottom: 6vh;
    width: 90%;
    max-width: 600px;
}


/*footer*/
.footer-content{
    display: grid;
    grid-template-columns:1fr 2.5fr 2fr 1fr;
    grid-template-areas: "navigation contact blank footer-logo" ;
    align-items: top;
    gap: 10px;
    padding: 3vw;
    white-space: nowrap;
}

.footer-nav{
    grid-area: navigation;
}

.footer-contact{
    grid-area: contact;
}

.footer-logo{
    grid-area: footer-logo;
    text-align: center;
}

.footer-logo > img{
    width: 100%;
    max-width: 86px;
    margin-bottom: 2vh;
}

.contact-info-container{
    gap: 50px;
    align-items: flex-start;
}

footer li, footer p{
    margin-bottom: 2vh  ;
}

.footer-indent{
    text-indent: 20px;
}

.footer-icon{
    margin-right: 5px;
}

/* product listing page */

.breadcrumbs{
    padding-top: 1.5vh;
}

.announcement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.announcement-message{
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.filter-options{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-unit);
}

.browse-header{
    margin-bottom: var(--space-unit-2);
}
.browse-main{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.browse__sidebar{
    min-width: 20vw;
    padding-left: 2vw;
}

.filter-header{
display: flex;
justify-content: flex-start;
}

div.filter-header > .filter-icon{
    margin-left: 5px;
}

.filter__group{
    margin-top: 2vh;
}

.product-grid, .item-related-products-row{
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-unit-2);
}
.product-image{
width: 215px;
}

.product{
    max-width: auto;
   padding-bottom: var(--space-unit-2);
   padding-right: var(--space-unit);
}

.product-unavailiable {
    position: relative;
    top: 0;
    right: 0;
}
.back-soon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 5px;
}
.product-brand{
    margin-bottom: var(--space-unit-half);
}

.product-name{
    margin-bottom: var(--space-unit);
}

.product-name :first-child {
    margin-bottom: 0.3em;
}

.mobile-filter{
    display: ; /*set to none*/
    justify-content: space-between;

    width: 98vw;
    padding: var(--space-unit-half);
    
    margin: auto;
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}


section.mobile-filter h2{
    font-size: var(--font-size-xs);
    font-family: var(--font-tertiary);
    
}
section.mobile-filter img{
    height: 12px;
}


.filter-header-mobile{
width: fit-content;
display: flex;
}

@media (max-width: 820px) {
    .mobile-filter{
        display: ; /*set to flex*/
        
    }
    
    .browse__sidebar, .sort-by {
        display: none;
    }
    .browse-main{
        flex-direction: column;
    }

    section.product{
        width: 98vw;
        margin: auto 
    }

    section.product-grid{
        width: 100%;
        margin: auto 
    }

    .browse-header{
        margin-left: ;
    }
}

/*individual item page*/

main.item-container, main.checkout-container {
    width: 100%;
    max-width: 70vw;
    margin: auto;
}

.item-main-section, main.checkout-container{
    margin-bottom: var(--space-unit-4);
}

.item-info-area{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
   
}

.item-image-area{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}



.item-zoom-icon{
    margin-left: -60px;
    margin-top: 30px;
}

.item-description-section{
    margin-bottom: var(--space-unit-4);
}


h2.item-description-title, h2.item-related-title{
    margin-bottom: var(--space-unit-2);
}

.related-product-item{
    margin-bottom: var(--space-unit-4);
}

.item-qty-selector > input{
    padding: 3px;
    max-width: 10vw;
}

.item-action > *{
    margin-bottom: var(--space-unit-half);
}

/*checkout page*/

.checkout-main-grid{
    display: flex;
    gap: var(--space-unit);
}

.checkout-left, .checkout-right{
    max-width: 500px;
    width: 100%;
    height: 85vh;
    padding: var(--space-unit);
    margin-top: var(--space-unit-2);
}

.checkout-heading{
    margin-top: var(--space-unit-2);
}

.checkout-section > h2 {
    margin-bottom: var(--space-unit);
}

.checkout-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout-row{
    margin-bottom: 20px;
}


.first-last-name{
    display: flex;
    gap: 15px;
}

.postcode{
    margin-top: 10px;
}


/*phone layout media query*/

@media (max-width: 820px) {
    /*home screen*/
    .footer-content{
    display: grid;
    grid-template-areas: 
    "navigation contact" 
    ". footer-logo";
    white-space: wrap;
    }
    }

    #logo1{
        height: 45px;      
    } 

    nav{
        padding: 10px 20px;
        height: 60px;
        
    }

    /*nav > ul > li{
        display: none;
    }*/
    .nav-cart{
        justify-content: flex-start;
    }

    .nav-icon img{
        height: 17px;
    }

    .nav-icon{
        width: 30vw;
    }
    .nav-cart>span{                 /*the number in the cart*/
        border-radius: 40%;
        padding-left: 2px;
        padding-right: 2px;
        font-size: var(--font-size-xs);
        margin-left: -7px;
        margin-top: -5px;
    }
    .icon-left-media{
        position: absolute;
        left: 10;
    }
    .contact-info-container{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .header-logo{
        max-width: 70%;
    }
    .header-image{
        height: 200px;
    }

    /*.nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: #333;
        flex-direction: column;
        width: 200px;
        padding: 20px;
      }
    
     
     .nav-links.active {
        display: flex;
      }
    
      .hamburger {
        display: flex;
      }*/

    
    }

    .menu-item-hidden{
        /*display: none;*/

    }


   @media (max-width: 820px){
    .menu-item-hidden{
       ;
    }
   }