@import url("https://use.typekit.net/bna7cwg.css");
@import url("https://use.typekit.net/bna7cwg.css");

:root{
    --font-primary: "effra-light", sans-serif;
    --font-secondary: "Barteldes-small", sans-serif;
    --font-tertiary: "effra", sans-serif;
  
    --font-size-xs: 15px;
    --font-size-reg: 20px;
    --font-size-lg: 25px;
    --font-size-xl: 30px;

    --font-weight-reg: 400;
    --font-weight-semibold: 700;
}


body{
    font-family: var(--font-primary);
    font-size: var(--font-size-reg)
}

nav > ul{       
    font-family: var(--font-secondary);
    font-size: var(--font-size-reg);
}

/*about section for the home page */

.heading{                               /*can be used in other instances*/
    font-family: var(--font-secondary);
    font-size: var(--font-size-lg);
    line-height: 1.5;
}

.details{                               /*can be used in other instances*/
    font-family: var(--font-primary);
    font-size: var(--font-size-reg);
    line-height: 1.5;
}

